.ContainerG {
  background-color: rgb(61, 148, 148);
  background-image: url("../assets/imagen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35%;
  padding-bottom: 10%;
}

.Title {
  display: flex;
  flex-direction: row;
  background-color: gray;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 20%;
  filter: opacity(0.9);
  -webkit-filter: opacity(0.9);
}

form {
  width: 40%;
  height: 350px;
  padding-top: 3%;
}

.ContainerP {
  background-color: rgb(12, 71, 71);
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #000;
  box-shadow: 4px 4px 5px #000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.ContainerP input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  width: 100%;
}

.ContainerP label {
  color: #fff;
  font-weight: bold;
}

.Btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 5%;
  height: 50px;
}

.Btn button {
  width: 20%;
  height: 30px;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px #000;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 1200px) {
  .ContainerG {
    padding-top: 80%;
  }
}

@media (max-width: 1022px) {
  .ContainerG {
    padding-top: 90%;
  }
}

@media (max-width: 896px) {
  .ContainerG {
    padding-top: 100%;
  }
}

@media (max-width: 802px) {
  .ContainerG {
    padding-top: 110%;
  }
}

@media (max-width: 755px) {

  .ContainerG {
    padding-top: 170%;
  }

  .ContainerP {
    grid-template-columns: auto;
    height: 430px;
  }

  form {
    height: 500px;
  }

  .Btn button {
    width: 30%;
  }
}

@media (max-width: 709px) {
  .ContainerG {
    padding-top: 180%;
  }
}

@media (max-width: 672px) {
  .ContainerG {
    padding-top: 190%;
  }
}

@media (max-width: 635px) {
  .ContainerG {
    padding-top: 205%;
  }
}

@media (max-width: 584px) {
  .ContainerG {
    padding-top: 225%;
  }
}

@media (max-width: 538px) {
  .ContainerG {
    padding-top: 240%;
  }
}

@media (max-width: 501px) {
  .ContainerG {
    padding-top: 260%;
  }

  form {
    width: 60%;
  }
}

@media (max-width: 464px) {
  .ContainerG {
    padding-top: 290%;
  }
}

@media (max-width: 404px) {
  .ContainerG {
    padding-top: 310%;
  }
}

@media (max-width: 372px) {
  .ContainerG {
    padding-top: 350%;
  }

  form {
    width: 80%;
  }
}

@media (max-width: 346px) {
  .ContainerG {
    padding-top: 390%;
  }
}
